@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Dancing+Script:wght@400;700&family=Lobster&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    box-sizing: border-box;
}
html { 
    scroll-behavior: smooth;
}
body {
    /* background-color: #e4e3e3; */
    background-color: #fff;

}
::selection {
    color: #555;
}

.nav-bar {
    padding: 15px 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    background-color: rgb(37, 37, 37);
    color: #ddd;
    font-size: 1.13em;
    /* box-shadow: 0 1px 9px #444; */
    /* ~ Choclate color ~ */
    box-shadow: 0 1px 9px rgb(103, 52, 16);
    
    /* opacity: 0.75; */
    /* position: relative; */
    position: fixed;
    top: 0;
    z-index: 1;
    text-transform: capitalize;
    /* opacity: 0; */

   
}
/* Logo image */
.nav-bar img {
    height: 25px;
    border-radius: 46%;
    outline: none;
    opacity: 0.85;
    padding: 0 10px;
    margin: auto;
}

@media (min-width: 310px) and (max-width: 1024px) {
    .nav-bar {
    /* padding: 5px 0; */
    font-size: 0.85em;
    height: 1.1rem;
    }
    .nav-bar img {
        height: 1.3rem;
    }
}
.nav-bar p {
     /* animation =>      [duration] [Delay] [fill-mode] */
     animation: appear 0.8s 0.2s ;
     animation-fill-mode: forwards; 

     /* text-align: center; */
     margin: 0 20px;
}
@keyframes appear {
    0% {
        transform: translateY(-5rem);
    }        
    100% {
        transform: translateY(0) rotate(0);

    }

}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    perspective: 100rem;
    overflow: hidden;
    box-shadow: 0 3px 10px 0 #022;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: scale 25s;
    
}
@keyframes scale {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);

    }
}

.banner {
    position: absolute;
    top: 30%;
    /* left: 15%; */
    left: 10%;
}
.banner h1 {
    /* font-family: ; */
    font-size: 3.3rem;
    font-weight: 600;
    /* color: #; */
    color: #ead6c8;
    width: 50%;
    /* line-height: 9rem; */
    /* letter-spacing: 0.2rem; */
    letter-spacing: 0.18rem;
    opacity: 0;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
   
    /* animation =>      [duration] [Delay] [fill-mode] */
    animation: moveBanner 1s 0.5s forwards;

}

.banner p {
    font-family: serif;
    font-size: calc(3.5rem / 2 ); 
    /* background-color: #dededec5; */
    color: #ead6c8bf;
    width: 70%;
    letter-spacing: 0.1rem;
    
    opacity: 0;
    /* margin-bottom: 1rem; */
    margin-top: 1.5rem;

    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);

    /* animation =>      [duration] [Delay] [fill-mode] */
    animation: moveBanner 1s 0.7s forwards;

}

@keyframes moveBanner {
    0% {
        transform: translateY(40rem) rotateY(-20deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}
#contact-me {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8em;
    /* text-decoration: underline; */
    color: #dddddd8f;
}
#contact-me a {
    text-decoration: none;
    color: inherit;

}
/* .your-active-class {
    animation: moveBanner 1s 0.7s forwards;
} */

/* ---------------------------------------------------------------- */
/* ------------------ Styles for sections ------------------------- */
/* ---------------------------------------------------------------- */

/* For any section */
section {
    margin: 7rem 0;
    /* background-color: #e5e5e5; */

}

#about-me {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;

    /* background-color: #f5f5f5; */

    /* animation: moveBanner 1s 0.5s forwards; */


}
.image-card {
    width: 11rem;
    height: 15rem;
    background-color: #17181b;
    border-radius: 20px;
    box-shadow: 3px 3px 9px  rgb(204, 75, 202);
    outline: none;

    transition: 0.4s ease;

}
.image-card:hover {
    transform: scale(1.05);
    box-shadow: 3px 5px 12px  rgb(204, 75, 202);

}
/* Logo image */
#about-me img {
    border-radius: inherit;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    /* opacity: 0.8; */
    opacity: 1;

}
#about-me p {
    /* font-family: 'Lobster', cursive; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 1.4em;
    width: 30%;
    text-align: center;
    margin: 1.3em 0;
	text-shadow: 0 1px 3px;
}
/* ----------------------------------------- */
/* Styles for BRANCHES */
/* ----------------------------------------- */
.branch-box {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    margin: 7rem 0;


}
#choose {
    font-family: 'Dancing Script', cursive;
    /* font-weight: 400; */
    font-size: 2rem;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
    /* color: #222222; */
    color: #333;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0 1px 3px;
    margin-top: 10rem;

}
/* Genral Role  */
.branch-box h3 {
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
    font-size: 3.5rem;
    text-transform: capitalize;
    /* text-align: left; */
    letter-spacing: 1px;
    color: #ead6c8;
    color: #222222;

    position: absolute;

    z-index: 3;

}
.card {
    /* width: 94%; */
    /* margin: 0 auto; */
    width: 100%;
    height: 20rem;

    border-radius: 6px;
    box-shadow: 3px 3px 15px rgb(204, 75, 202);
    outline: none;
    overflow: hidden;

    cursor: pointer;

    

}
.card img {
    width: 100%;
    height: 100%;
    opacity: 0.75;
    object-fit: cover;
    
    animation: scale 20s infinite;
    

}
.branch-box .card a {
    color: inherit;
    text-decoration: none;
}


/* ----------------------------------------- */
/* End Styles for BRANCHES */
/* ----------------------------------------- */

/* The order now button */
.order {
    display: flex;
    justify-content: center;
    /* align-items: center;/ */
    flex-flow: row wrap;
    
}
#order-now {
    width: 50%;
    text-align: center;
    text-transform: capitalize;
    padding: 2px 0;
    border-radius: inherit;
    /* border: 3px solid inherit; */
    outline: none;
    user-select: none;

    /* Use one of these */
    /* background-color: #b30056; */
    /* color: #0d0d0d; */
/* Or */
    background-color: #071d49;
    color: #f5f5f5;
/* ? */
    cursor: pointer;
    /* border-radius: 40%; */
    border-radius: 10rem;

}
#order-now i{
    background-color: inherit;
    font-size: 1.5rem;
    margin: 0 0.6em;
}
#order-now p {
    font-family: 'Dancing Script', cursive;
    font-size: 1.3em; 
    font-weight: 800;
    text-shadow: 1px 0 1px;

    letter-spacing: 1px;
    

}
#order-now a {
    text-decoration: none;
    color:inherit;
}

/* ---------------------------------------------------------------- */
/* ------------------ End Styles for sections ------------------ */
/* ---------------------------------------------------------------- */


.footer {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px ;
    background: #17181b;
    font-family: 'Baloo 2', cursive;

    box-shadow: 0 1px 10px #002;


    color: #ead6c8;
    /* position: fixed; */
    /* bottom: 0; */
    padding: 1.4em 0;
}

.social-links {
    display: flex;
    /* width: 60%; */
    justify-content: center;
    align-items: center;

    flex-direction: row wrap;
}

.social-links i {
    background-color: inherit;
    font-size: 1.5rem;
    margin: 0 0.6em;

}
.social-links a {
    text-decoration: none;
    color:inherit;
}
.footer p {
    font-size: 0.85em;
    font-family: 'Baloo 2', cursive;
    text-align: center;

    margin: 10px 0 0 ;
   
}
