/* 
    Updates for the facebook word 
    && WhatsApp - group 
*/
.facebook-updated {
    background-color: #071d49;
    /* min-width: fit-content; */
    width: 90%;
    height: 6rem;

    color: #f5f5f5;

    border-radius: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    margin: 1.6rem auto 6rem;

    user-select: none;
    cursor: pointer;

    text-align: center;
    text-transform: capitalize;
    padding: 0.6rem;
    outline: none;

    animation: coloring 7s infinite linear forwards;
    
    -webkit-animation:  coloring 7s infinite linear forwards    ;
    -moz-animation:     coloring 7s infinite linear forwards;
    -o-animation:       coloring 7s infinite linear forwards ;
    -ms-animation:      coloring 7s infinite linear forwards ;
}
@keyframes coloring {
    0% {
    background-color: #071d49;
        
    }
    25% {
        background-color: #00008b;
        
    }
    50% {
        background-color: #0000cddc;
        
    }
    75% {
        background-color: #4196e1;
        
    }
    100% {
        background-color: #090909;

    }
}
.facebook-updated p {
    line-height: 1.6rem;
    font-family: 'Dancing Script', cursive;
    font-size: 1.3em;
    font-weight: 400;
    text-shadow: 1px 0 1px;

    letter-spacing: 1px;
}

.whats-group {
    /* background-color: #071d49; */
    background-color: #228B22;
    width: 70%;
    color: #f5f5f5;

    border-radius: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    margin: 1.6rem auto 6rem;

    user-select: none;
    cursor: pointer;

    /* text-align: center; */
    text-transform: capitalize;
    padding: 0.6rem;
    outline: none;

}

.whats-group p {
    line-height: 1.6rem;
    font-size: 1.3em;
    font-weight: 400;
    text-shadow: 1px 0 1px;

}

#order-now {
    background-color: #228B22;

}

.facebook-updated i {
    background-color: inherit;
    font-size: 1.7rem;
    margin: 0 0.6em;
    padding: 0.15rem 0;
    
    color: #f5f5f5d2;

}

.facebook-updated a {
    text-decoration: none;
    color: inherit;
}